@font-face {
  font-family: 'Work Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
}
body {
  background-image: url('abstract_pattern_design_background_2007.jpg');
  background-repeat: repeat;
  font-family: 'Work Sans', sans-serif;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
section {
  text-align: center;
}
table,
td,
th {
  border: 1px solid black;
  border-spacing: 3px;
  padding: 3px;
}
td {
  text-align: center;
}
img {
  float: right;
}
